body {
display: flex;
flex-direction: column;
margin: 0;
height : 100%;
width : 100%;
left: 0;
right: 0;
justify-content: center;
align-items: center;
}

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height : 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: hsl(226, 90%, 32%);
   }

   .logo {
    margin-left: 0px;
    width: 55px;
    height : 55px;
    
   }
  p a { 
    text-decoration: none; 
    color: black;
    font-weight: bold;
  }


   nav {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

   ul {
    margin-right: 20px;
    display: flex;
    flex-direction : row;
    float: left;
    justify-content: space-between;
    gap: 20px;
    color: white;
    list-style-type: none;  
   }

   a {  
    color: white;
    }  

  a:link { 
    text-decoration: none; 
    

  }

.introBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height : 550px;
    background-image: url('images/paul-volkmer-qVotvbsuM_c-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    gap: 80px;
}

.block1 {
    display: flex;
    flex-direction: column;
    
}

h1 {
    line-height: 0px;  
    color: rgb(226, 219, 121);
    font-size: 60px;
}

p {
    color: azure;
    line-height: 0px;
    margin-bottom: 60px;
    font-size: 20px;
}

#a {
    font-size: 25px;
}

#b {
    font-size: 30px;
}

#c {
    font-size: 35px;
}

.button1 {
    margin-top: 30px;
    position: relative;
    bottom: 20px;
    z-index: 2;
    line-height: 0px;
    width: 100px;
    height : 40px;
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    border-radius: 12px;
}

.block2 {
    display: flex;
    flex-direction: column;
    
}

.astronaut {
    position: relative;
    width: 500px;
    height : 300px;
    bottom: 100px;
    left: 210px
}


.projects {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height : 60vh;
    background-color:whitesmoke;
    left: 0;
    right: 0;
    
}

.projects p {
    color: black;
    line-height: 1.25em !important;
    align-self: center;
}

.project1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height : 200px;
    z-index: 2;
    
}

.project2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height : 200px;
    z-index: 2;
    
}

.project3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height : 200px;
    z-index: 2;
    

}

.project4 {
    display: flex;
    flex-direction: column;
    width: 150px;
    height : 200px;
    z-index: 2;
   
}

.quote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height : 80vh;
    left: 0;
    right: 0;
    background-color: hsl(240, 52%, 90%);
}

cite {
    font-size: 40px;
}
.quote span {
    font-weight: bold;
    float: right;
    line-height: 2.25em !important;
}

.success {
    width: 500px;
    height : 500px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height : 60vh;
    left: 0;
    right: 0;
    background-color: white;
    gap: 5px;
}

.blocka {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height : 200px;
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    border: none;
    line-height: 0%;
    z-index: 2;
    margin-left: 60px;
    
}

.rocket {
    width: 100px;
    height : 150px;
    margin-left: 100px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

h4 {
    font-size: 15px;
    font-weight: lighter;
    
}

.btn2 {
    margin-top: 30px;
    position: relative;
    bottom: 20px;
    z-index: 2;
    line-height: 0px;
    width: 100px;
    height : 40px;
    background-color:  #3882F6;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 4px #999;
    cursor: pointer;
    
}

.btn2 {
    transition-duration: 0.4s;
  }
  
  .btn2:hover {
    background-color: white;
    color: rgb(10, 13, 226);
  }

  .btn2:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 8vh;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.astronaut2 {
    width: 200px;
    height : 250px;
}

footer p {
   margin-top: 50px;
   font-size: 16px; 
}
